.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: rem;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;

    &:hover {
        background-color: $ags-turquoise-dark;
    }
}

.btn-primary{
    background-color: $ags-turquoise-active;
}
.btn-secondary{
    background-color: $ags-red-75;
    
    &:hover {
        background-color: $ags-red-50;
    }
}

.btn-cancel{}

.btn-success{
    background-color: $ags-green;
}

.btn-error{
    background-color: $ags-red;
}

.btn-warning{
    background-color: $ags-limeyellow;
}

.btn-info{
    background-color: $ags-green;
}

.btn-link{
    background: none!important;
    border: none;
    padding: 0!important;
    /*optional*/
    font-family: arial, sans-serif;
    /*input has OS specific font-family*/
    color: #069;
    //text-decoration: underline;
    cursor: pointer;
}

